/* 
    Document   : style
    Created on : 26/12/2013, 09:02:09
    Author     : jvitor.silva
    Description:
        Purpose of the stylesheet follows.
*/
html, body{


    background-image:url(../images/plano4.png)!important;
    background-repeat: no-repeat;
    font-family: 'Microsoft JhengHei UI Light' !important;
    background-size: 100%; 

}



.ui-input-text{
    border-radius: 0px !important;
}

.ui-autocomplete{
    border-radius: 0px !important;
}

.pnopcoes .ui-panel-titlebar{

    border-radius: 0px !important;
    border: none !important;

}

.pnopcoes .ui-panel{

    border-radius: 0px !important;
    border: 1px solid;
    border-color: lightgray !important;
}

.pnopcoes{
    background: rgba(47,90,128,1);
    background: -moz-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,90,128,1)), color-stop(74%, rgba(47,90,128,1)), color-stop(100%, rgba(47,90,128,1)));
    background: -webkit-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -o-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: linear-gradient(to bottom, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5a80', endColorstr='#2f5a80', GradientType=0 );
}

.ui-button .ui-button-text{
    color: #236B8E !important;
}

.ui-button{
    border-radius: 0px !important; 
    background: white !important;
}

.grande{

    width:500px;

}

.medio{

    width:200px;

}

.pequeno{

    width:100px;

}

.mpequeno{

    width:50px;

}

.fHeader tr, .fHeader td{
    background: rgba(47,90,128,1);
    background: -moz-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,90,128,1)), color-stop(74%, rgba(47,90,128,1)), color-stop(100%, rgba(47,90,128,1)));
    background: -webkit-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -o-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: linear-gradient(to bottom, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5a80', endColorstr='#2f5a80', GradientType=0 );
    border:none !important;
}

.fHeader{
    width:104.6% !important;
    height: 60px !important;
    margin-left: -1.2%;
    margin-top: -0.7%;
}

.fFooter tr, .fFooter td{
    background: rgba(47,90,128,1);
    background: -moz-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,90,128,1)), color-stop(74%, rgba(47,90,128,1)), color-stop(100%, rgba(47,90,128,1)));
    background: -webkit-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -o-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: linear-gradient(to bottom, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5a80', endColorstr='#2f5a80', GradientType=0 );
    border:none !important;
}

.fFooter{
    width:104.6% !important;
    height: 35px;
    margin-left: -1.2%;
    position: relative;
    margin-top: -26px; /* negative value of footer height */
    clear:both;
}

#content-container{
    overflow:auto;
    padding-bottom: 50px;
    padding-top: 10px;
    margin:0 auto;
    width:102% !important;

}

#page{
    min-height: 100%;
}

.fstatus tr, .fstatus td{
    background: transparent;
    background-size: 100%;

    border-color: white;
}

.fstatus{
    width:100% !important;
    height: 20px;
    margin-left: -1.2%;
    margin-top: -1%;
}

.ui-widget {  
    font-size: 12px !important;  
}  

.ui-widget .btFinalizar{


}

.dgmanu .ui-dialog-titlebar{

    background: red !important;

}

.ui-icon.ui-icon-search2{

    background-image:url(../images/searchicon.png)!important;
    width:40px !important;
    height: 40px !important;
    margin-left:-16px;
    margin-top:-16px;

}

.ui-icon.ui-icon-finish{

    background-image:url(../images/Finalizaricon.png)!important;
    width:31px !important;
    height: 31px !important;
    margin-left:-16px;
    margin-top:-16px;

}

.ui-icon.ui-icon-cancel2{

    background-image:url(../images/deleteicon.png)!important;
    width:34px !important;
    height: 34px !important;
    margin-left:-16px;
    margin-top:-16px;

}

.ui-icon.ui-icon-update{

    background-image:url(../images/updateicon.png)!important;
    width:34px !important;
    height: 34px !important;
    margin-left:-16.1px;
    margin-top:-16.12px;

}

.ui-icon-mySearch{

    background: url("../images/search.png") !important;
}


a.disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
    -webkit-filter: grayscale(100%);
}

.logout{

    background: none !important;
    margin-left: 30%;

}

.logo{
    margin-left: -10px;
}

.ui-overlaypanel{
    top: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
    width:250px;
    height: 100%;
    background: rgba(47,90,128,1);
    background: -moz-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,90,128,1)), color-stop(74%, rgba(47,90,128,1)), color-stop(100%, rgba(47,90,128,1)));
    background: -webkit-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -o-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: linear-gradient(to bottom, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5a80', endColorstr='#2f5a80', GradientType=0 );
}        

.spcImg{

    border-radius: 10px;
}

.gridHead{
    size: A4;
    margin: 0 auto;

}

.tabelaResultado{
    table-layout: auto;
    border: 1px solid; 
    border-radius: 5px;
    width:98%;
    background: #EDEDED;

}





.menu_text{
    margin-left:5px;
    font-size: 18px;
    font-weight: bold;
    color:white;
}

.ui-widget{
    border:none;
}


.ui-panel{
    border:1px solid;
    width:100%;
}

.tabela{
    width:97.5%;
    font-size:8px;
}


.ui-panel-titlebar{
    border-radius: 0px !important;
}


.ui-panel-titlebar .pnAssunto{
    background:#E6E6B8 !important;
    border: none !important;
    border-radius: 0 !important;
    color:#4C4C4C !important;

}

.pnAssunto .ui-panel-m-titlebar{

    background:#E6E6B8 !important;

}

.ui-btn{
    font-size: 13px !important;
}

.pnAssunto2 .ui-panel-titlebar {
    background:#CCCECF !important;
    border:none !important;
    border-radius: 0 !important;
    color:#4C4C4C !important;


}

.dateMask .input{

    border-radius: 10px !important;

}

.ui-input-text a{
    display: none !important;
}

.ui-growl-message p {
    font: 20px "Lucida Console", Monaco, monospace;
    letter-spacing: -1px;
    color: red !important;
}

.pnAssunto2{

    border-color: #CCCECF !important;

}

.pnAssunto3 .ui-panel-titlebar {
    background:#DEDEDE !important;
    border:none !important;
    border-radius: 0 !important;
    color:#4C4C4C !important;
    border-color: #CCCECF !important;

}

.pnAssunto3 {

    border-color: #DEDEDE !important;

}

.ui-widget-content .acTab{
    background:#E0E09D !important;
    color:#353535 !important;
    border:none !important;
}

.ui.accordion-header{

    background:#B8B86E !important;

}



.ui-widget {
    font-size: 12px !important;
}
.ui-panel {
    padding: 0.2em;
}

.ui-datatable-header{
    background:black !important;
}
.ui-datatable .ui-paginator  {

    background: white!important;

}

.ui-corner-all {
    border-radius: 8px;
}


.ui-widget-header {
    border: 1px solid rgb(73, 68, 55);
    background: rgba(47,90,128,1);
    background: -moz-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,90,128,1)), color-stop(74%, rgba(47,90,128,1)), color-stop(100%, rgba(47,90,128,1)));
    background: -webkit-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -o-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    background: linear-gradient(to bottom, rgba(47,90,128,1) 0%, rgba(47,90,128,1) 74%, rgba(47,90,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5a80', endColorstr='#2f5a80', GradientType=0 );
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.pf-dock-container-top
{
    background-image: none !important;
    background-color: white !important;
}


.ui-datatable{
    font-size: 11px !important;
}



.nomeObj {
    color: white !important; 
    font-size: 15px !important;
    font-weight: bold !important;
   
}
.descricaoObj{
    color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    margin-left: 5px!important;
  
}
.contatoObj{
     color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    margin-left: 5px!important;
}
.e-mailObj{
     color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    margin-left: 5px!important;
    
}
.consoleObj{
     margin-left: 10px!important;
    
}


.toggleable {
    
    
  background: rgba(255,255, 255, 0.45) !important;
    
}

.btSalvar {
    
    background-color: white !important;
    border-radius: 5px !important;
    color: #2f5a80 !important; 
    font-family: inherit !important;
    font-size: 13px !important;
    margin-left: 100px !important;
}

.btSalvar2 {
    
    background-color: white !important;
    border-radius: 5px !important;
    color: #2f5a80 !important; 
    font-family: inherit !important;
    font-size: 13px !important;
    margin-left: 1137px !important;
}